@model NUMLPay_WebApp.Models.FeeStructure

@{
    Layout = "~/Views/Shared/_LayoutPageDashboard.cshtml";
    ViewBag.Title = "Update Other Fee Structure";
}


@using (Html.BeginForm("updateOtherFee", "OtherFee", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="container-fluid">

        <div class="col-md-13">

            <div id="customAlertContainer" class="position-fixed top-0 end-0 p-3">
                <div id="customAlert" class="alert @ViewBag.AlertType alert-dismissible fade show" role="alert">
                    @ViewBag.AlertMessage
                    <button type="button" class="btn-close" style="display: @ViewBag.Display" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <label style="color: #0e96eb; font-size: 20px; user-select: none;"><i class="fas fa-plus fa-fw "></i>Update Other Fee Structure</label>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6">
                            <label>Admission Session *</label>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.session, ViewBag.admissionSession as SelectList, "Select Fee Session", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.session, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Fee For *</label>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.fee_for, ViewBag.feeFor as SelectList, "Select Fee For", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.fee_for, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Total Fee *</label>
                            <div class="form-group">
                                @Html.EditorFor(model => model.total_fee, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.total_fee, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label>Security (Only For Hostel And Mess) *</label>
                            <div class="form-group">
                                <input name="securityFee" class="form-control" type="number" value="@ViewBag.securityFee" />
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 mb-5">
                        <div class="col-md-4 mx-auto">
                            <center>
                                <div class="form-group">
                                    <input type="submit" value="Update Fee" class="btnLogin" />
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





