@model NUMLPay_WebApp.Models.InstallmentManagement

@{
    Layout = "~/Views/Shared/_LayoutPageDashboard.cshtml";
    ViewBag.Title = "Add Installment";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="col-md-13">

            <div id="customAlertContainer" class="position-fixed top-0 end-0 p-3">
                <div id="customAlert" class="alert @ViewBag.AlertType alert-dismissible fade show" role="alert">
                    @ViewBag.AlertMessage
                    <button type="button" class="btn-close" style="display: @ViewBag.Display" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <label style="color: #0e96eb; font-size: 20px; user-select: none;"><i class="fas fa-plus fa-fw "></i>Add Installment</label>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        <label>Mode of Installments *</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.mode, ViewBag.mode as SelectList, "Select Mode of Installments", new { @class = "form-control", @required = "true" })
                            @Html.ValidationMessageFor(model => model.mode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Fee For *</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.fee_for, ViewBag.feeFor as SelectList, "Select Fee For", new { @class = "form-control", @required = "true" })
                            @Html.ValidationMessageFor(model => model.fee_for, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                    <div class="row mt-5">
                        <div class="col-md-4 mx-auto">
                            <center>
                                <div class="form-group">
                                    <input type="submit" value="Add Installment" class="btnLogin" />
                                </div>
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}

