
@model NUMLPay_WebApp.Models.Shift

@{
    Layout = "~/Views/Shared/_LayoutPageDashboard.cshtml";
    ViewBag.Title = "Add Shift and Academic Level for Degree";
}

<style>
    /* Same styling for password-toggle as in the previous code */
</style>

@using (Html.BeginForm("addLevelShift", "Degree", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="col-md-13">

            <div id="customAlertContainer" class="position-fixed top-0 end-0 p-3">
                <div id="customAlert" class="alert @ViewBag.AlertType alert-dismissible fade show" role="alert">
                    @ViewBag.AlertMessage
                    <button type="button" class="btn-close" style="display: @ViewBag.Display" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <label style="color: #0e96eb; font-size: 20px; user-select: none;"><i class="fas fa-plus fa-fw "></i>Add Shift and Academic Level</label>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-6">
                        <label>Campus *</label>
                        <div class="form-group">
                            <select id="campusDropdown" class="form-control">
                                <option value="">Select Campus</option>
                                @foreach (var campus in ViewBag.campusList)
                                {
                                    <option value="@campus.Value" @(campus.Selected ? "selected" : "")>@campus.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Faculty *</label>
                        <div class="form-group">
                            <select id="facultyDdl" class="form-control">
                                <option value="">Select Faculty</option>
                                @{
                                    var facultyList = ViewBag.facultyList as IEnumerable<SelectListItem>;

                                    if (facultyList != null && facultyList.Any())
                                    {
                                        foreach (var faculty in facultyList)
                                        {
                                            <option value="@faculty.Value" @(faculty.Selected ? "selected" : "")>@faculty.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Department *</label>
                        <div class="form-group">
                            <select id="deptDdl" class="form-control">
                                <option value="">Select Department</option>
                                @{
                                    var deptList = ViewBag.deptList as IEnumerable<SelectListItem>;

                                    if (deptList != null && deptList.Any())
                                    {
                                        foreach (var dept in deptList)
                                        {
                                            <option value="@dept.Value" @(dept.Selected ? "selected" : "")>@dept.Text</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Degree *</label>
                        <div class="form-group">
                            <select id="degreeDdl" class="form-control">
                                <option value="">Select Degree</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.degree_id, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.degree_id) <!-- Add a hidden input field -->
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Academic Level *</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.academic_id, ViewBag.academicLevels as SelectList, "Select Academic Level", new { @class = "form-control", @required="true" })
                            @Html.ValidationMessageFor(model => model.academic_id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label>Shift *</label>
                        <div class="form-group">
                            @Html.DropDownListFor(model => model.shift, ViewBag.shiftLevel as SelectList, "Select Shift", new { @class = "form-control", @required = "true" })
                            @Html.ValidationMessageFor(model => model.shift, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                    <div class="row mt-5 mb-5">
                        <div class="col-md-4 mx-auto">
                            <center>
                                <div class="form-group">
                                    <input type="submit" value="Add Shift and Level" class="btnLogin" />
                                </div>
                            </center>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

@if (ViewBag.adminRole != "3")
{
    <script src="~/js/cascadingDropdown.js"></script>
}

<script type="text/javascript">

    $('#deptDdl').change(function () {
        $.getJSON('/Degree/getDegrees?deptId=' + $('#deptDdl').val(), function (data) {
            var items = '<option value="">Select Degree</option>';
            $.each(data, function (i, degree) {
                items += "<option value='" + degree.Value + "'>" + degree.Text + "</option>";
            });
            $('#degreeDdl').html(items);
        });
    });

    $("form").submit(function () {

        var selectedValueCampus = $("#campusDropdown").val();

        // Check if the selected value is empty
        if (!selectedValueCampus) {
            event.preventDefault();
            alert("Please select a campus.");
            return false;
        }

        var facultyDdl = $("#facultyDdl").val();

        // Check if the selected value is empty
        if (!facultyDdl) {
            event.preventDefault();
            alert("Please select a Faculty.");
            return false;
        }

        var deptDdl = $("#deptDdl").val();

        // Check if the selected value is empty
        if (!deptDdl) {
            event.preventDefault();
            alert("Please select a Department.");
            return false;
        }


        var degreeDdl = $("#degreeDdl").val();

        // Check if the selected value is empty
        if (!degreeDdl) {
            event.preventDefault();
            alert("Please select a Degree.");
            return false;
        }

        var selectedValueDegree = $("#degreeDdl").val();

        $("input[name='degree_id']").val(selectedValueDegree);
    });

</script>

