@model NUMLPay_WebApp.Models.Faculty

@{
    Layout = "~/Views/Shared/_LayoutPageDashboard.cshtml";
    ViewBag.Title = "Update Faculty";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container-fluid">

        <div class="col-md-13">

            <div id="customAlertContainer" class="position-fixed top-0 end-0 p-3">
                <div id="customAlert" class="alert @ViewBag.AlertType alert-dismissible fade show" role="alert">
                    @ViewBag.AlertMessage
                    <button type="button" class="btn-close" style="display: @ViewBag.Display" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <label style="color: #0e96eb; font-size: 20px; user-select: none;"><i class="fas fa-plus fa-fw "></i>Update Faculty</label>
                            </center>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <hr>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6">
                            <label>Name of Faculty *</label>
                            <div class="form-group">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <label>Campus *</label>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.campus_id, ViewBag.campusList as IEnumerable<SelectListItem>, "Select Campus", new { @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.campus_id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label>Status *</label>
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.is_active, ViewBag.is_active as SelectList, "Select Status", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.is_active, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>


                    <div class="row mt-5">
                        <div class="col-md-4 mx-auto">
                            <center>
                                <div class="form-group">
                                    <input type="submit" value="Update Faculty" class="btnLogin" />
                                </div>
                            </center>
                        </div>
                    </div>

                </div>
        </div>
    </div>
</div>
}