@model NUMLPay_WebApp.Models.Users

@{
    ViewBag.Title = "Reset Password as Student";
}



<style>
    .password-input {
        position: relative;
    }

    .password-field {
        padding-right: 35px; /* Adjust the value as needed */
    }

    .password-toggle {
        position: absolute;
        top: 50%;
        right: 10px; /* Adjust the value as needed */
        transform: translateY(-50%);
        cursor: pointer;
    }
</style>

<section class="vh-100">
    <div class="container py-5 h-100">

        <div id="customAlertContainer" class="position-fixed top-0 end-0 p-3">
            <div id="customAlert" class="alert @ViewBag.AlertType" role="alert">
                @ViewBag.AlertMessage
                <button type="button" style="display: @ViewBag.Display" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="card border-0 shadow">
            <div class="card-body">
                <div class="row d-flex align-items-center justify-content-center h-100">

                    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                        <img src="~/images/logo.png" height="250" width="250" />
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <h3 class="fw-normal mb-3 pb-3 w-100" style="letter-spacing: 1px;">Reset Password <small>as User</small></h3>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example23">Password</label>
                                <div class="password-input">
                                    @Html.PasswordFor(model => model.password, new { @class = "form-control password-field" })
                                    <i class="password-toggle fas fa-eye"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example23">Confirm Password</label>
                                <div class="password-input">
                                    @Html.PasswordFor(model => model.name, new { @class = "form-control password-field" })
                                    <i class="password-toggle fas fa-eye"></i>
                                </div>
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>

                            <div class="pt-1 mb-4">
                                <input class="btnLogin mb-4" type="submit" value="Reset Password" />
                            </div>
                        }
                    </div>
                    <div class="col-md-8 col-lg-7 col-xl-6">
                        <img src="~/images/NUML.jpg"
                             class="img-fluid" alt="image" style="object-fit: cover; height: 690px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(function () {
        $(document).on('click', '.password-toggle', function () {
            var passwordField = $(this).prev(".password-field");

            if (passwordField.attr("type") === "password") {
                passwordField.attr("type", "text");
                $(this).removeClass("fa-eye").addClass("fa-eye-slash");
            } else {
                passwordField.attr("type", "password");
                $(this).removeClass("fa-eye-slash").addClass("fa-eye");
            }
        });
    });
</script>